@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    background: #F7F6F9;
    box-sizing: border-box;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Inter', sans-serif;
    font-weight: 500;

}
.fa-solid.fa-Alamin {
  font-size: 10px;
  font-family: inter;
  font-weight: 500;
  margin-left: 94px;
}
.tamplate{
    width: 1263px;
    margin: 0 auto;
}
header{
    width: 100%;
  height: 100px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 20px -15px;
}
.midpart{
    width: 90%;
    margin: 0 auto;
}
nav{display: flex;width: 100%;align-items: center;justify-content: space-between;}
.logo{width: 20%; cursor: pointer;}
.logo h6{text-align: justify;
  text-transform: uppercase;
  font-size: 9px;
  margin-left: 86px;}
.menu{display: flex;align-items: center;justify-content: space-between;width: 60%;}
.main_menu{display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0px 145px auto;
    font-size: 16px;
    font-weight: 690;
}

.main_menu li:first-child a{
    display: flex;
  align-items: center;
  justify-content: center;
  color: #37d122;
}
.main_menu li:nth-child(4) a{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main_menu li a{
    transition: 550ms;
}
.main_menu li a:hover{
    color:#37d122 ;
    
}


.user{width: 20%;display: flex;align-items: center;justify-content: space-between;}
.user_head {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    overflow: hidden;
    cursor: pointer;
}
.user_cart{
    width: 40px;
  height: 40px;
  background: #49b718;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin-left: -14px;
  transition: 1s;
}
.user_cart:hover{
    color: black;
    cursor: pointer;
}
.usre_categori{
    display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  cursor: pointer;
}
section{
    width: 100%;
    margin: 0 auto;
    background: url(../img/slide-v4-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 733px;
  background-position: 275px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.all_part{display: flex;justify-content:space-between ; align-items: center;justify-content: space-between;}
.left_part{
    float: left;
    width: 50%;
}
.sub_title{
    width: 200px;
  background: #fff;
  text-align: center;
  padding: 12px;
  border-radius: 6px;
  color: #7a66b2;
  font-size: 17px;
  font-weight: 543;
  margin-bottom: 28px;
}
.big_title{
    font-size: 30px;
  font-weight: 980;
  line-height: 63px;
}
.text{
    font-size: 18px;
  margin-top: 30px;
  font-weight: 450;
  color: #746e6e;
}

.btn{

  display: flex;
  width: 200px;
  justify-content: center;
  align-items: center;
  padding: 16px 22px;
  border: none;
  border-radius: 6px;
  background: #84D19F;
  color: #fff;
  margin-top: 40px;
  transition: 1s;
  font-weight: 600;
  font-size: 15px;

 
}
.btn:hover{
  background: black;
}
.btn_arrow{
    margin-right: 14px;
}
.right_part{
    display: flex;
    align-items: center;
    justify-content: end;
    float: right;
    width: 50%;
  }
.student_activeti{
    width: 240px;
    height: 96px;
    background: #fff;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 78px;
    margin-bottom: 115px;
    box-shadow: 0px 4px 23px -9px black;
}
.student_activeti_icon{
    width: 46px;
  height: 46px;
  background: #f1f1f1;;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
  padding: 5px;
  color: #5956b0;
}
.studen_activeti_text{
    font-weight: 700;
}
.student_count{
    width: 200px;
  height: 250px;
  background: #fff;
  margin-top: 375px;
  border-radius: 6px;
  position: relative;
  box-shadow: 0px 4px 23px -9px black;

}
.student_count_icon{
    width: 46px;
    height: 46px;
    background: #ededed;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 14px 0px 16px 76px;
    padding: 3px;
    color: #4d4eb8;
}

.student_count_text h4{
    display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  font-weight: 700;
}
.student_count_text h3{
    display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 22px;
  font-weight: 700;
}
.student_count_image{
    display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  margin: 23px;
  margin-left: 34px;
}
.student_cou_im_main{
    border-radius: 100%;
  width: 36px;
  height: 36px;
  overflow: hidden;
  margin-left: -8px;
  border: 2px solid #fff;
  
}
.student_cou_im_main_p{
    height: 36px;
  width: 36px;
  background: #84D19F;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-left: -8px;
  border: 2px solid #fff;
  
}
.main_first{
    margin-left: 0px;
}






.cartified{
    position: absolute;
    width: 200px;
    height: 200px;
    background: #7749bae8;
    margin-top: 454px;
    margin-right: 369px;
    border-radius: 100%;
    box-shadow: 0px 4px 23px -9px black;
}
.cartifi_logo{
    width: 46px;
  height: 46px;
  background: #fff;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 31px 0px 15px 72px;
  padding: 4px;
  color: #7b6acb;
}
.cartifi_text_f{
    display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 17px;
  font-weight: 700;
}
.cartifi_text_l{
    display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 700;
  font-size: 17px;
  margin: 3px;
}
.row{
  width: 100%;
  height: 235px;
  background: #fff;
  display: flex;
  /*! align-items: center; */
  justify-content: space-between;
  box-shadow: 0px 4px 20px -15px;
    
}

.row_part_all{
    display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  
    width: 100%;
    padding: 0px 25px;
}
.row_part_f{
    display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  border-right: 1px solid #00000029;
  
}

.row_part_all .row_part_f:nth-child(4) {
  border-right: none;
}

.row_part_icon{
  background-image: url(../img/fat.png);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  margin-right: 12px;
  color: #6632a5;
  transition: 1s;
  cursor: context-menu;
  width: 75px;
  height: 75px;
  background-repeat: no-repeat;
  position: relative;
  
}
.row_shap6{
  position: absolute;
  margin-left: 1px;
  margin-bottom: 38px;
}
.shap_row{font-size: 32px; transition: 1s;}
.shap_row:hover{
  color: #40f06c;
  transform: scale(1.2);
}
.row_part_head_text{
    margin-right: 30px;
    

}
.row_part_head_text h3{
    font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}
.row_part_head_text p{
    font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #3931318f;
}
.row2{
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;


}
.row2_c{
    font-size: 12px;
    color: #16c429;
    font-weight: bold;
    margin-right: 9px;
}
.row2_part_all{
    display: flex;
  align-items: center;
  justify-content: space-between;

}
.row2_part_left{
    width: 50%;
  margin: 0 auto;
}
.shape_im{position: absolute;margin-left: -30px;margin-top: -30px;}
.row2_part_right{
    width: 50%;
  margin: 0 auto;
}

.shape_im2 {
  width: 539px;
  height: 410px;
  position: absolute;
  background: #84d19f;
  margin-top: -384px;
  mix-blend-mode: multiply;
  border-radius: 0px 35px 35px 35px;
  clip-path: polygon(0 90%, 100% 0%, 100% 100%, 0 100%);
  margin-left: -21px;
}
.circle{
    display: flex;
    align-items: center;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    color: #56545494;
    margin-bottom: 14px;
}
.Instructor{
    font-size: 38px;
    font-weight: 600;
    line-height: 51px;
    margin: 14px 0px 18px 0px;
}
.row2_r_pera{
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #565454de;
    margin-bottom: 18px;
}
.row2_year_count{
    display: flex;
  align-items: center;
  justify-content: start;
}



.row2_year_logo{
    height: 46px;
    width: 46px;
    background: #e6e0e08c;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    padding: 6px;
    color: #8438c3;
    margin-right: 35px;
  
}
.row2_year_text_num{

}
.number{display: flex;
    align-items: center;
    justify-content: start;
}
.number h2{font-size: 31px;
    font-weight: 700;}

.number h5{font-size: 18px;
    font-weight: 600;
    margin-left: 13px;}    
.row2_year_text h4{
    font-size: 20px;
  font-weight: 600;
  margin-top: 8px;
}
.signature{
    margin-top: 21px;
}
.row2_left_part_im{
  height: 443px;
  width: 492px;
  border-radius: 28px;
  overflow: hidden;
  position: relative;
}
.zoom{
  transition: 1s;
}

.zoom:hover  {
  transform: scale(1.1);
}
.row3{
  width: 100%;
  height: 384px;
  background: #d7d7d73b;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.row3_part_all{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.row3_part_main{}
.row3_part_icon{
  background-image: url(../img/instructor-shape-5.png);
  background-repeat: no-repeat;
  height: 125px;
  width: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.row3_icon_main{
  margin-left: 22px;
}
.row_shap3{
  position: absolute;
  margin-left: 26px;
  margin-top: 26px;
}
.row3_part_text_num{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  font-weight: 700;
  padding: 10px;
}
.row3_part_text h3{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
}
.row3_icon{
  color: #6247c4d1;
  font-size: 27px;
  transition: 1s;
}
.row3_icon:hover{
  transform: scale(1.3);
  cursor: pointer;
  color: #2cca53;
}
.row4{
  width: 100%;
  height: 600px;
}
.row4_main{
  width: 100%;
  height: 600px;
  background: #79C493;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  box-shadow: 0px 4px 20px -15px;

}
.row4_main_part{
  background-image: url(../img/row4.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
}
.row_4pl{
  transition: 1s;
}
.row_4pl:hover{
  transform: scale(1.2)
}
.row5{
  width: 100%;
  height: 235px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

}
.row5_main{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.row5_part_all{}
.row5_small_taitle{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 19px;
  text-transform: uppercase;
  color: #585757ad;
}
.row5_small_taitle h5{

}
.row5_circl{
  font-size: 13px;
  font-weight: 900;
  color: #45cb3a;
  margin-right: 7px;
}
.row5_sub_tit{
  
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 38px;
  font-weight: 600;
  word-spacing: 8px;
  margin-top: 19px;

}
.row6{
  width: 100%;
  height: 249px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
}
.row6_fast_part{height: 100%;width: 100%;display: flex;align-items: center;justify-content: space-between;}
.row6_f_left{ height: 218px;
  width: 48%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 6px;
  transition: 500ms;
  box-shadow: 0px 4px 23px -15px black;
}
  .row6_f_left:hover{
    transform: translateY(-10px)
  }
  .row6_f_left_main{display: flex;align-items: center;justify-content: space-between;width: 86%;}
.row6_f_right{ height: 218px;
  width: 48%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 6px;
  transition: 500ms;
  box-shadow: 0px 4px 23px -15px black;
}
  .row6_f_right:hover{
    transform: translateY(-10px)
  }
.row6_f_l_left{
 }
.l{
  width: 140px;
  height: 140px;
  border-radius: 8px;
  overflow: hidden;
}
.row6_f_l_img{
  transition: 1s;
}
.row6_f_l_img:hover{
  transform: scale(1.2);
}
.row6_f_l_right{
  
}
.row6_f_r_top{display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2px;
  width: 304px;}
.row6_ft{
    display: flex;
    align-items: center;
    justify-content: space-between
}
.row6_f_r_top h5{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #7d7b7bdb;
  font-size: 15px;
  font-weight: 600;
}
.row6_f_r_top h4{
  font-size: 20px;
  font-weight: 600;
  color: #73D494;

}
.row6_ft_star{
  font-size: 19px;
  margin-bottom: 4px;
  margin-right: 6px;
  color: #f6b944;
}
.row6_f_r_mid{display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 600;
  word-spacing: 5px;
  margin-top: 20px;
  line-height: 31px;}
.row6_f_r_bottom{display: flex;align-items: center;justify-content: space-between;margin-top: 22px;}
.row6_icon_bo{
  color: #73D494;
  font-size: 20px;
  font-weight: 900;
  margin-right: 7px;
}
.row6_f_r_b_f{
  display: flex;
  align-items: end;
  justify-content: space-between;
  font-size: 17px;
  font-weight: 900;
  color: #211e1e94;
}
.row7{width: 100%;
  height: 174px;
  display: flex;
  align-items: start;
  justify-content: center;
  background: #fff;}
.row7_main{width:  100%;height: 100%;display: flex;align-items: start;justify-content: center;}
.row8{
  width: 100%;
  margin: 0 auto;
  background: url(../img/lastpic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 693px;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.row8_main_part{width: 100%;height: 100%;display: flex;align-items: center;justify-content: space-between;}
.row8_leftpart{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}
.row8_left_box{
  width: 500px;
  height: 500px;
  background: #392F8DD9;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  box-shadow: 0px 4px 23px -15px black;
}
.row8_left_box_main{
  width: 75%;
  height: 77%;
}
.row8_left_box_main h5{
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  color: #fff;

}
.row8_box_2_title{
  font-size: 35px;
  font-weight: 600;
  margin: 18px 0px 28px 0px;
  color: #fff;
}
.row8_box_3_title{
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 12px 0px;
  color: #fff;

}
.row8_box3{
  color: #28b931;
  font-weight: 900;
  margin-right: 6px;
}
  .row8_box3 h3{display: flex;
    align-items: center;
    justify-content: start;}


    .btn_row8{
      display: flex;
  width: 200px;
  justify-content: center;
  align-items: center;
  padding: 16px 22px;
  border: none;
  border-radius: 6px;
  background: #fff;
  color: #000;
  margin-top: 40px;
  transition: 1s;
  font-size: 17px;
  font-weight: 600;
  }
.btn_row8:hover{
  background: black;
  color: #fff;
}
.row8_rightpart{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}

.row8_right_box{
  width: 192px;
  height: 72px;
  background: #79C493;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 23px -15px black;
}
.row8_right_box_top{
  color: #fff;
  font-size: 16px;
}
.row8_right_box_bottom{
  color: #fff;
  font-size: 17px;
  margin-top: 6px;
}
.row9{
  width: 100%;

  height: 230px;
  background: #fff;
}
.row9_part_all{width: 100%;height: 230px;display: flex;align-items: center;justify-content: center;}
.row9_top_part{margin-top: 44px;}
.row9_top_part_top_title{display: flex;align-items: center;justify-content: center;margin-bottom: 14px;text-transform: uppercase;color: #565656e8;}
.row9_top_part_sub_t{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 38px;
  word-spacing: 8px;
  font-weight: 600;
}
.row10{width: 100%;height: 225px;display: flex;align-items: center;justify-content: space-between;background: #fff;}
.row10_part_all{display: flex;align-items: center;justify-content: space-between;}
.row10_part_left{
  height: 164px;
  width: 49%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 23px -15px black;
  cursor: default;
}
.row10_part_left_main{width: 89%;/*! height: 80%%; */display: flex;align-items: center;justify-content: space-between;}
.row10_part_left_main_left{}
.row10_l_M__t{
  font-size: 14px;
  font-weight: 600;
  color: #787474d6;

  margin-bottom: 13px;
}
.row10_l_M__m{font-size: 23px;font-weight: 600;}
.row10_l_M__l{font-size: 15px;font-weight: 400;color: #545252d4;margin-top: 17px;}
.row10_part_left_main_right{color: #f5f4f4;font-weight: 200;}
.row10_part_left_main_right h1{
  font-size: 98px;
  -webkit-text-stroke: 1px #e8e8e8;
  color: transparent;
  transition: 200ms;
}
.row10_part_left_main_right h1:hover{
  -webkit-text-stroke:1px #49D697;
}
.row10_part_right{height: 164px;width: 49%;background: #ddd;}
.row11{width: 100%;height: 259px;display: flex;align-items: start;justify-content: center;margin-top: 0px;background: #fff;}
.row11_part_all{display: flex;align-items: center;justify-content: center;}
.row12{width: 100%;height: 676px;/*! background: #ddd; */display: flex;align-items: center;justify-content: space-between;}
.row12_part_all{width: 100%;height: 100%;display: flex;align-items: center;justify-content: space-between;}
.row12_part_left{margin-bottom: -21px;}
.row12_left_part_top_title{font-size: 17px;text-transform: uppercase;font-weight: 700;margin-bottom: 15px;color: #4f4e4eab;}
.row12_left_part_top_title h5{font-weight: 700;}
.row12_part_l_sub{font-size: 37px;font-weight: 600;}
.row12_part_l_bottom{width: 547px;height: 300px;display: flex;align-items: end;justify-content: center;background: #fff;margin-top: 70px;border-radius: 6px;box-shadow: 0px 4px 23px -9px black;}
.row12_part_l_bottom_mainbox{width: 88%;height: 78%;margin: auto;}
.row12_part_l_bottom_mainbox_top{display: flex;align-items: center;justify-content: space-between;}
.row12_p_l_b_t{font-size: 55px;}
.row12_p_l_b_m{width: 72%;line-height: 32px;font-size: 14px;font-weight: 600;color: #6a6a6acf;}
.row12_p_l_b_m h4{font-size: 19px;font-weight: 700;color: black;}
.row12_p_l_b_b{width: 46px;height: 46px;background: #3B5998;display: flex;align-items: center;justify-content: center;border-radius: 100%;font-size: 22px;}
.row12_part_l_bottom_mainbox_mid{}
.row12_part_l_bottom_mainbox_mid h3{font-size: 21px;font-weight: 500;margin-bottom: 19px;}
.row12_part_l_bottom_mainbox_mid p{line-height: 27px;font-weight: 400;color: #494747e3;}
.row12_part_l_bottom_mainbox_bottom{display: flex;align-items: center;justify-content: space-between;margin-top: 36px;}
.row12_p_l_b_l{display: flex;align-items: center;justify-content: space-between;}
.row12_p_l_b_l_main{display: flex;align-items: center;justify-content: space-between;}
.row12_p_l_b_r{color: #333333c2;font-weight: 500;}
.row12_p_l_b_l_main li{margin-left: -4;}
.row12_p_l_b_l_main li:first-child {
  margin-left: 0;
}
._sta12{
  font-size: 22px;
  font-weight: 900;
}
.prime{
  margin-left: 343px;
}
.row12_part_right{width: 50%;height: 100%;}
.row12_part_right{}

.row13{height: 622px;width: 100%;background: #fff;}
.row13_part_all{width: 100%;height: 254px;display: flex;align-items: center;justify-content: center;}
.row13_part_all_top_part{}
.row13_part_all_top{text-transform: uppercase;font-size: 18px;/*! font-weight: 600; */display: flex;align-items: center;justify-content: center;margin-bottom: 17px; color: #323030a3;}
.row13_part_all_mid{display: flex;align-items: center;justify-content: center;font-size: 37px;font-weight: 700;}
.row13_part_all_bottom{display: flex;align-items: center;justify-content: center;font-size: 38px;font-weight: 700;margin-top: 4px;}
.row13_partmid_section{display: flex;align-items: center;justify-content: space-between;height: 95px;}
.row13_partmid_section_main{display: flex;align-items: center;justify-content: space-between;width: 100%;}
.row13_partmid_section_main li {
  list-style: none;
  transition: 1s;
}
.row13_partmid_section_main li:hover{
  background-color: #dddddd94;
}
.row13_partbottom_b{display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 365px;
  margin-top: 7px;}
.row13_bu{font-weight: 600;}
.lats{margin-top: -22px;}
footer{width: 100%;
  height: 528px;
  background: #2E2B3F;}
.footar_part_all{display: flex;align-items: center;justify-content: space-between;width: 100%;height: 347px;margin-top: 20px;}
.footar_part_main{display: flex;align-items: center;justify-content: space-between;width: 100%;height: 139%;}
.fottar_fastl{}
.fottar_logo{display: flex;align-items: center;justify-content: start;}
.fottar_fastl_pera_text{margin-top: 31px;color: #ffffffa1;line-height: 29px;text-align: justify;font-family: inter;}
.fottar_fastl_get_in{color: #ffffffa1;line-height: 29px;font-family: inter;}
.fottar_fastl_get_in h4{margin: 13px 0px;color: #fff;font-size: 21px;font-weight: 600;}


.fottar_second{}
.footar_list{line-height: 37px;margin-top: -2px;}
.footar_list h2{color: #fff;margin-bottom: 19px;font-size: 20px;font-family: inter;font-weight: 700;}

.footar_list li{color: #ffffffa1;font-size: 16px;font-family: inter;}

.footar_list li a{color: #ffffffa1;font-size: 16px;font-family: inter;margin-left: 17px;}
.fottar_second{margin-right: -20px;}
.fottar_3rd{margin-right: 76px;margin-top: 28px;}
.fottar_4th{margin-left: -44px;margin-top: 14px;}
.fottar_5th{margin-right: 23px;margin-top: 18px;}

.hr_fo{margin-top: 70px;color: #6e687a;}

.fottar_last_mail_hab{width: 100%;height: 108px;display: flex;align-items: center;justify-content: space-between;}
.fottar_last_mail_hab_main{height: 100%;width: 100%;display: flex;align-items: center;justify-content: space-between;}
.f_l{color: #ffffff94;width: 50%;}

.f_r{display: flex;align-items: center;justify-content: space-between;color: #fff;width: 50%;}
.fr_lan{display: flex;align-items: center;justify-content: space-between;color: #fff;width: 57%;margin-left: 240px;}
.fr_lan li a{color: #9d9d9d;
  transition: 500ms;
  font-size: 17px;
  font-weight: 500;
  font-family: inter;}
.fr_lan li :hover{
  color: #ffffff;
}
.Fottar_facebook{width: 26px;height: 26px;background: #0866FF;border-radius: 5px;display: flex;align-items: center;justify-content: center;}
.fo_fa{display: flex;align-items: center;justify-content: start;margin-top: 9px;}
.Fottar_Twitter{width: 26px;height: 26px;background: #3F95CD;border-radius: 5px;display: flex;align-items: center;justify-content: center;}

.Fottar_Linkedin{width: 26px;height: 26px;background: #316A98;border-radius: 5px;display: flex;align-items: center;justify-content: center;}
.Fottar_Youtube{width: 26px;
  height: 26px;
  background: #c92323;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}

.Fottar_Google{
  width: 26px;
  height: 26px;
  background: #C4641D;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}